.vscode/*
IndividualMiniprojectC++/external_libraries/boost_1_86_0/
IndividualMiniprojectC++/external_libraries/Crow-1.2.0-Darwin/
IndividualMiniprojectC++/external_libraries/asio-1.30.2/
IndividualMiniprojectC++/external_libraries/asio-1.30.2.tar.bz2
IndividualMiniprojectC++/external_libraries/Crow-1.2.0.zip
IndividualMiniprojectC++/IndividualMiniproject.exe
IndividualMiniprojectC++/IndividualMiniprojectTests.exe
# IndividualMiniprojectC++/
IndividualMiniprojectC++/build/*
!IndividualMiniprojectC++/build/README.txt
IndividualMiniprojectC++/external_libraries/*
_deps/
doxygen-1.12.0/
CMakeFiles/
lib/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
IndividualMiniprojectTests[1]_include.cmake
Makefile
doxygen-*.bin.tar
googletest-ff233bdd4cac0a0bf6e5cd45bda3406814cb2796.zip
IndividualMiniprojectTests
IndividualMiniproject
testfile.bin
IndividualMiniprojectC++/.DS_Store
IndividualMiniprojectC++/Testing
IndividualMiniprojectC++/IndividualMiniprojectTests[1]_include.cmake
IndividualMiniprojectC++/IndividualMiniprojectTests[1]_tests.cmake